@import '../../../../../assets/styles/global/_variables';
@import '../../../../../assets/styles/global/_mixins';
@import '../../../../../assets/styles/global/buttons';

#search-container {
    width: 806px;
    height: 40px;
        @include flexCenter();

    .search-btn {    
        background-color: $btn-bg-primary-color;
        margin: 0;
        height: 100%;
        border-radius: 0px 6px 6px 0px;
    }
    
    .category {
        background-color: #EDEDED;
        width: 136px;
        height: 100%;
        margin: 0;
        @include flexCenter();
        .down-arrow{
            margin-left: 14.5px;
        }
        img,p{
            @include flexCenter();
        }
    }
    #search-control{
        @include flexCenter();
        flex-grow: 1;
        height: 100%;
        margin: 0;
        background-color: #F3F6F9;
        box-shadow: none;
        &::placeholder{
            color: #B5B5C3;
        }
    }
    
}


