@mixin flex($direction : row, $justify-content : space-between){
    display:flex;
    display:-webkit-flex;
    
    flex-direction: $direction;
    -ms-flex-direction: $direction;

    justify-content: $justify-content;
}

@mixin flexCenter($direction : row ){
   @include flex();
   justify-content:space-between;
   align-items:center;
}

@mixin font( $size, $line-height ) {
    font-size: $size;
    line-height: $line-height;
}
