$bg-primary-color : #FFFFFF;

$bg-secondary-color : #F3F6F9;

$text-primary-color : #464E5F;

$text-primary-color-darker : #999;

$text-secondary-color : #000;

$border-primary-color : #E7E8EF;

$border-secondary-color : #CCCCCC;

$border-ternary-color : #B5B5C3;

$btn-bg-primary-color : #3699FF;

$btn-text-primary-color : #fff;

$padding-sm : 5px;

$btn-border-radius : 6px;

$margin-sm : 5px;
