$bg-primary-color : #FFFFFF;

$text-primary-color : #464E5F;

$border-primary-color : #E7E8EF;

$btn-bg-primary-color : #3699FF;

$btn-text-primary-color : #fff;

$padding-sm : 5px;

$btn-border-radius : 6px;

$margin-sm : 5px;
