<div class="step-container">
  <div class="w-100">

    <div class="step-header p-1">

      <p class="d-flex">Custom Product Template</p>

      <div class="hz-list">

        <a class="d-flex active" >Front</a>
        <a class="d-flex" >Back</a>
        <a class="d-flex" >left sleeve</a>
        <a class="d-flex" >Right sleeve</a>

      </div>

    </div>

    <hr class="dashed-border w-100 mb-0">

    <div class="step-design ">

      <div class="left-section pt-2 pb-1 pl-1">

        <div class="hz-list mb-3 justify-content-start">

          <button class="btn bg-transparent">
            <img class="mr-1" src="../../../../../assets/images/tshirt.svg" alt="">
            <span>Product</span>
          </button>

          <button class="btn btn-primary">
            <img class="mr-1" src="../../../../../assets/images/art.svg" alt="">
            <span>Design</span>
          </button>

        </div>

        <div class="hz-list">

          <button class="btn btn-light">
            <img class="mr-1" src="../../../../../assets/images/Group 117390.svg" alt="">
            <span>Choose file</span>
          </button>

          <button class="btn btn-light">
            <img class="mr-1" src="../../../../../assets/images/Group 117394.svg" alt="">
            <span>Add text</span>
          </button>

          <button class="btn btn-light">
            <img class="mr-1" src="../../../../../assets/images/upload (1).svg" alt="">
            <span>Premium images</span>
          </button>

        </div>

        <div class="vc-list layers-section">
          <h3 class="ml-2">Layers</h3>

          <hr class="w-100 mb-2 ml-2">
          <div class=" hz-list">

            <div class="layer-icon d-flex">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>

            <span class="vertical-line"></span>

            <div class="item-body align-items-center d-flex">

              <div class="media d-flex mr-1">
                <div class="media-img-wrapper">
                  <div class="media-img">
                  </div>
                </div>
              </div>

              <div class="media-body d-flex vc-list align-items-baseline">
                <div class="info">
                  <b>Clipart: </b>
                  Face Of Clown With Hat
                  <span class="text-primary">
                  $40.
                  </span>
                </div>
                <div class="info"><b>Print Quality: </b>  Very good / Cector</div>
                <div class="info"><b>Width: </b>  7.22 Height: 2.02</div>
                <div class="actions hz-list mt-2">
                  <a class="d-flex ml-1" >
                    <img src="../../../../../assets/images/Component 134 – 1.svg"/>
                  </a>
                  <a class="d-flex ml-1" >
                    <img src="../../../../../assets/images/Component 135 – 1.svg"/>
                  </a>
                  <a class="d-flex ml-1" >
                    <img src="../../../../../assets/images/Component 136 – 1.svg"/>
                  </a>
                  <a class="d-flex ml-1" >
                    <img src="../../../../../assets/images/Component 137 – 1.svg"/>
                  </a>
                </div>
              </div>

            </div>
          </div>

          <hr class="w-100 mb-2 mt-2 ml-2">
          <div class=" hz-list">

            <div class="layer-icon d-flex">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>

            <span class="vertical-line"></span>

            <div class="item-body align-items-center d-flex">

              <div class="media d-flex mr-1">
                <div class="media-img-wrapper">
                  <div class="media-img">
                  </div>
                </div>
              </div>

              <div class="media-body d-flex vc-list align-items-baseline">
                <div class="info">
                  <b>Clipart: </b>
                  Face Of Clown With Hat
                </div>
                <div class="info"><b>Print Quality: </b>  Very good / Cector</div>
                <div class="info"><b>Width: </b>  7.22 Height: 2.02</div>
                <div class="actions hz-list mt-2">
                  <a class="d-flex ml-1" >
                    <img src="../../../../../assets/images/Component 134 – 1.svg"/>
                  </a>
                  <a class="d-flex ml-1" >
                    <img src="../../../../../assets/images/Component 135 – 1.svg"/>
                  </a>
                  <a class="d-flex ml-1" >
                    <img src="../../../../../assets/images/Component 136 – 1.svg"/>
                  </a>
                  <a class="d-flex ml-1" >
                    <img src="../../../../../assets/images/Component 137 – 1.svg"/>
                  </a>
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="right-section d-flex">
        <div class="h-100 model">
          <img class="h-100 model-img" src="../../../../../assets/images/Screen Shot 2020-08-17 at 9.36.06 PM.png" alt="">
          <img class="model-logo" src="../../../../../assets/images/Image 1.png" alt="">
          <div class="model-print">
            <img src="../../../../../assets/images/face-of-clown-with-hat.svg" alt="">
            <p>The party tonight 2020</p>
          </div>
        </div>
        <div class="vc-list">
          <button class="btn btn-light mb-2">
            <img class="mr-1" src="../../../../../assets/images/Group 117419.svg" alt="">
            <p>Grid</p>
          </button>
          <button class="btn btn-light">
            <img class="mr-1" src="../../../../../assets/images/zoom-in.svg" alt="">
            <p>Zoom in</p>
          </button>
        </div>
      </div>

    </div>

    <hr class="w-100 mt-0">

    <div class="step-footer p-1">
      <button class="btn-primary btn-lg-width" [routerLink]="['../step2']">
        Next Step
      </button>
      <div class="d-flex">
        <p class="mr-2">Product info, pricing & guidelines</p>
        <img class="ml-1" src="../../../../../assets/images/expand.svg" >
      </div>
    </div>
  </div>
</div>
