@import '../../../../assets/styles/global/_variables';
@import '../../../../assets/styles/global/_mixins';

header {
    @include flexCenter();
    height: 84px;
    border-bottom: 1px solid $border-primary-color;
    padding:0 49px 0 40px;
}


.left-header {
  width: 163px;
  @include flexCenter();
}

.right-header {
  @include flexCenter();
  &.border-left,.border-right{
    padding: 0 13px;
  }

}

