<header >
    <div class="d-flex left-header">
      <a >
        <img src="../../../../assets/images/menu.svg" />
      </a>
      <a>
        <img src="../../../../assets/images/Group 116690.svg" />
      </a>
    </div>
    <div class="d-flex">
      <header-search></header-search>
    </div>
    <div class="d-flex right-header">
      <a class="mr-1">
        <img src="../../../../assets/images/supermarket.svg" alt="">
      </a>
      <a class="mr-1">
          Cart
      </a>
      <a class="mr-1">
          <img src="../../../../assets/images/Company logo.svg" alt="">
      </a>
      <a class="border-left border-right">
          <img src="../../../../assets/images/My Setting.svg" alt="">
      </a>
      <a class="border-left border-right mr-1">
          <img src="../../../../assets/images/Notification.svg" alt="">
      </a>
      <a class="border-left">
          <img src="../../../../assets/images/User image.png" alt="">
      </a>
    </div>
</header>
