<header >
    <a >
        <img src="../../../../assets/images/menu.svg" />
    </a>
    <a>
        <img src="../../../../assets/images/Group 116690.svg" />
    </a>
    <div>
        <header-search></header-search>
    </div>
    <a>
        <img src="../../../../assets/images/Save search result.svg" alt="">
    </a>
    <a>
        <img src="../../../../assets/images/supermarket.svg" alt="">
    </a>
    <a>
        Cart
    </a>
    <a>
        <img src="../../../../assets/images/Company logo.svg" alt="">
    </a>
    <a>
        <img src="../../../../assets/images/My Setting.svg" alt="">
    </a>
    <a>
        <img src="../../../../assets/images/Notification.svg" alt="">
    </a>
    <a>
        <img src="../../../../assets/images/User image.png" alt="">
    </a>
</header>